name: Tests with HTCondor
on: [push, pull_request]

jobs:
  tests:
    name: "HTCondor Testing"
    runs-on: ubuntu-latest
    container: 
      image: htcondor/mini:latest
      options: --privileged
    defaults:
      run:
        shell: bash -el {0}
    steps:

      
      - name: Start HTCondor
        run: |
          condor_master &
          sleep 10
          condor_status

      - name: Change to the submit user
        run: |
          su - submituser

      - uses: actions/checkout@v5

      - name: Set up conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          auto-activate-base: false
          python-version: "3.10"
          activate-environment: asimov
          channels: conda-forge
          conda-remove-defaults: "true"
        run: |
          conda install -y -n asimov --file conda/environment.yaml
          conda install -y -n asimov conda-build

      - name: Install dependencies & asimov
        run: |
          pip install .

      - name: Create asimov project
        run: |
          mkdir test_project
          cd test_project
          conda run -n asimov asimov init "Test Project"

      - name: Test Event Add
        run: |
          cd test_project
          conda run -n asimov asimov apply -f https://git.ligo.org/asimov/data/-/raw/gwosc/events/gwtc-2-1/GW150914_095045.yaml