name: Python multi-OS 

on:
  push:
    branches: [ master, v*-release, v*-preview ]
  pull_request:
    branches: [ master, v*-release, v*-preview ]

jobs:
  build-ubuntu-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest] # , macOS-latest, windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Set up git
      run: |
          git config --global init.defaultBranch master
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
    
    - name: Run unittests
      run: |
        python -m unittest discover tests/
